:root {
  --ligth-color-bg: #FBF2E6;
  --ligth-color-div1: #D8FFF1;
  --ligth-color-div2: #E4E4E4;
  --dark-color-bg: #202540;
  --dark-color-div1:#2A3154;
  --dark-color-div2:#95C6FF;
}
@font-face {
  font-family: 'Anek';
  src: 
    url('../assets//fonts/anek-malayalam-v2-latin-regular.woff2')
    format('woff2'),
    url('../assets/fonts/anek-malayalam-v2-latin-regular.woff')
    format('woff') ;
  font-weight: 400;
  font-style: normal;
}

*{
  box-sizing:border-box;
  padding: 0;
  margin:0;
}

html {
  font-size:62.5%;
}

body {
    font-family: 'Anek';
    background-color: var(--ligth-color-bg);
    transition:  background-color .3s;
}
main {
  display: flex;  
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
}



.card {
 margin-top: 4.4rem;
 width:100%;
 max-width:520px;
 display:flex;
 flex-direction:column;
}

.dark-mode {
  background-color: var(--dark-color-bg);
  transition:  background-color .3s;
}


.card__image {
  position:relative;
  width:100%;
  height: 150px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:var(--ligth-color-div1);
  transition:  background-color .3s;
}


.card__image--dark {
  background-color: var(--dark-color-div1);
  transition:  background-color .3s;
}


.change_mode {
  position: absolute;
  right: 20px;
  top: 24px;
  border-radius: 20px;
  width: 50px;
  height: 30px;
  align-self: flex-start;
  justify-self: flex-end;
  background-color: var(--ligth-color-div2);
  transition:  background-color .3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change_mode--dark {
  background-color: var(--dark-color-div2);
  transition:  background-color .3s;
}

.change_mode:hover {
  background-color: #d1c7c7;
}

.change_mode--dark:hover {
  background-color: #7ba2cf;
}

.card__image span {
  position:absolute;
  top:calc(50%);
  width:140px;
  height: 140px;
  border-radius: 50%;
}

.card__image span img {
  position:relative;
  width:100%;
  height:100%;
  object-fit:cover;
}


.card__info {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  width:100%;
  height: 180px;
  background-color:var(--ligth-color-div2);
  transition:  background-color .3s;

}

.card__info--dark {
  background-color: var(--dark-color-div2);
  transition:  background-color .3s;
}

.card__info p {
  font-size: 1.4rem;
}

.card__info h3 {
  font-size:1.6rem;
  margin-top:5px;
}

.icons-container {
  width:50%;
  margin-bottom: 8px;
  display:flex;
  justify-content:space-around;
}

.icons-container a img{
  transform: scale(1);
  transition:  transform .3s;
}

.icons-container a img:hover{
  transform: scale(1.1) rotate(20deg);
}

.rule {
  margin: 4px 0 6px 0;
  opacity:0.3;
  border: 1px solid #000;
  width: 40%
}
